<div class="container">
      
  
  <div class= "row">
    <div class = "col-12 col-sm-6"><br/>
    
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Electronics:</h1>
    
  </div>
  <div class="col-12 col-sm-6 align-self-left">

  <form class="example" action="action_page.php">
    <input type="text" placeholder="Search for any product..." name="search">
    
  </form></div>

</div><br/>

<div class="row text-center">
  <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/Products/razerkraken.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Razer Kraken Headset</h4>
              <p class="card-text">Since its inception, the Razer Kraken has built a reputation as a cult classic within the gaming community.</p>
            </div>
            <div class="card-footer">
                <h5>890,000.000 LBP</h5>
                
                <a href="./buynow">
                  <button class="button" href="./buynow">Add to Cart</button>
                </a>
            </div>
          </div>
        </div>



        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/Products/razerkeyboard.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Razer Mechanical Keyboard </h4>
              <p class="card-text">Designed for gaming, the Razer keyboards are equipped with Razer™ Mechanical Switches for tournament-grade precision. </p>
            </div>
            <div class="card-footer">
                <h5>1,150,000.00 LBP</h5>
                <a href="./buynow">
                  <button class="button" href="./buynow">Add to Cart</button>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top" src="assets/images/Products/samsunggalaxy.jpg" alt="">
            <div class="card-body">
              <h4 class="card-title">Samsung Galaxy Note20</h4>
              <p class="card-text">Meet Galaxy Note20 5G and Note20 Ultra 5G. This is not a smartphone as you know it. This is the power phone that forever changes how you work and play.</p>
            </div>
            <div class="card-footer">
                <h5>4,975,000.00 LBP</h5>
                <!--Add to Cart Modal-->
                <a href="./buynow">
                    <button class="button" href="./buynow">Add to Cart</button>
                </a>
            </div>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <img class="card-img-top shop-item-image" src="assets/images/Products/airpods.jpg" alt="">
            <div class="card-body shop-items">
                <div class="shop-item">
                    
                    
              <h4 class="card-title shop-item-title">Apple Airpods 1</h4>
              <p class="card-text">Wireless Apple charging earphones bringing you music wherever you go.</p>
            </div></div>
            <div class="card-footer">
              
                <span class="shop-item-price">1300000.00 LBP</span>
                
                <button class="btn btn-primary shop-item-button" type="button">ADD TO CART</button>
                
            </div>
           
          </div>
        </div>

        <div class="row text-center">
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/mouse.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Hp X3000 Wireless Mouse</h4>
                  <p class="card-text">An efficient wireless mouse like the HP X3000 is perfect for presentations. </p>
                </div>
                <div class="card-footer">
                    <h5> 305,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/samsungtv.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Samsung Led Tv 40inch</h4>
                  <p class="card-text">Samsung Led tv 40inch with a bright display, fits anywhere in your house because of its portability.</p>
                </div>
                <div class="card-footer">
                    <h5>1,049,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/charger.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Type C Adapter/cable</h4>
                  <p class="card-text">Type c adapter and cable for all your charging needs.</p>
                </div>
                <div class="card-footer">
                    <h5>89,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/iphone.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Iphone 12 Pro</h4>
                  <p class="card-text">The all new Apple Iphone 12 Pro midnight-blue with 128gb of storage and 4gb RAM.</p>
                </div>
                <div class="card-footer">
                    <h5>11,000,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
               
              </div>
            </div>

        <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/galaxytab.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Galaxy tab S6</h4>
                  <p class="card-text">Get the all new Galaxy tab S6 10.5'', cloud blue and 128gb storage</p>
                </div>
                <div class="card-footer">
                    <h5>2,400,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/LGmonitor.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">LG LED IPS Monitor</h4>
                  <p class="card-text">Get the LG LED IPS Gaming monitor, 24 inch full HD(1920x1080)</p>
                </div>
                <div class="card-footer">
                    <h5>900,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/lenovo.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">Lenovo Thinkpad E590</h4>
                  <p class="card-text">Lenovo Thinkpad E590, one of the most powerfull notebooks at 15 inch, 8gb RAM and 256gb ssd</p>
                </div>
                <div class="card-footer">
                    <h5>7,100,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
    
            <div class="col-lg-3 col-md-6 mb-4">
              <div class="card">
                <img class="card-img-top" src="assets/images/Products/PS5.jpg" alt="">
                <div class="card-body">
                  <h4 class="card-title">PS5</h4>
                  <p class="card-text">The newest playstation, the all new gaming console PS5</p>
                </div>
                <div class="card-footer">
                    <h5>4,950,000.00 LBP</h5>
                    <!--Add to Cart Modal-->
                    <a href="./buynow">
                        <button class="button" href="./buynow">Add to Cart</button>
                    </a>
                </div>
              </div>
            </div>
  

</div>
<!-- /.row -->

</div></div>
