<style type="text/css">

    .jumbotron{
        
        background-size:  100% 100%; 
      }
    </style>
    <!-- Jumbotron Header -->

    <style type="text/css">
    
    .lead{
      color:black;
    }

    .lead2{
      color:black;
    }

    .lead3{
      color:black;
    }
    
    
    .display-3{
      color:black;
    }
    </style>

<div class = "container">
    
  <h1>Payment Details</h1><br/>
  
  <div class="row">

    <!--Grid column-->
    <div class="col-md-9 mb-md-0 mb-5">
    <form id="contact-form" name="contact-form" action="mail.php" method="POST">
    
        <!--Grid row-->
        <div class="row">
    
            <!--Grid column-->
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <label for="fname" class=""><b>First Name</b></label>
                    <input type="text" id="fname" name="fname" class="form-control">
                    
                </div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <label for="lname" class=""><b>Last Name</b></label>
                    <input type="text" id="lname" name="lname" class="form-control">
                    
                </div>
            </div>
            <!--Grid column-->
    
            <!--Grid column-->
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <label for="email" class=""><b>Your email</b></label>
                    <input type="text" id="email" name="email" class="form-control">
                    
                </div>
            </div>
            <!--Grid column-->
            
    
        </div>
        <!--Grid row-->
    
        <!--Grid row-->
        <div class="row">
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <label for="Address" class=""><b>Full Address</b></label>
                    <input type="text" id="Address" name="Address" class="form-control">
                    
                </div>
            </div>
        </div>

        <!--Grid row-->

        <!--Grid row-->
        <div class="row">
            <div class="col-md-12">
                <div class="md-form mb-0">
                    <p><b>Payment Method</b></p>
      <select>
          <optgroup label="Payment Method">
              <option value="1" selected="">Cash On Delivery</option>
          </optgroup>
      </select>
                    
                </div>
            </div>
        </div><br/>

        <!--Grid row-->

    </form>
    <div class="container">
    <a href="./success">
        <button class="button" href="./success">BUY NOW</button>
    </a></div><br/>


  </div><br/>