<div class="container">
      
  
  <div class= "row">
    <div class = "col-12 col-sm-6"><br/>
    
    <h1 style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">Books:</h1>
    
  </div>
  <div class="col-12 col-sm-6 align-self-left">

  <form class="example" action="action_page.php">
    <input type="text" placeholder="Search for any product..." name="search">
    
  </form></div>

</div><br/>

<div class="row text-center" >
  <div class="col-lg-3 col-md-6 mb-4" *ngFor="let item of items | async">
          <div class="card">
            <img class="card-img-top" src={{item.photo}} alt="">
            <div class="card-body">
              <h4 class="card-title">{{item.title}}</h4>
              <p class="card-text">{{item.description}}</p>
            </div>
            <div class="card-footer">
                <h5>{{item.price}} LBP</h5>
                
                <a href="../cart">
                  <button class="button" href="../cart">Add to Cart</button>
                </a>
            </div>
          </div>
        </div>    
          
<!-- /.row -->

</div>
</div>
